<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:replace="fragments/head :: header" />
<title>IW: Plantilla</title>
</head>
<body style="text-align: justify;">
	<nav th:replace="fragments/nav.html :: nav"></nav>

	<div class="container">
		<div class="main">

			<h1 th:text="#{index.welcome}">Bienvenido a ALMAGYM</h1>

			<p>
				Para acceder a la pagina por favor, seleccione un tipo de usuario: </br>
			<ul>
				<li><b>A:</b> administrador.</li>
				<li><b>T:</b> profesor.</li>
				<li><b>T2:</b> profesor2.</li>
				<li><b>c:</b> Cliente.</li>

				</ul>
			</p>

		</div>
	</div>

	<footer th:replace="fragments/footer.html :: footer"> Footer
		goes here </footer>
</body>
</html>

