<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:replace="fragments/head :: header" />
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">Nav goes here</nav>
	<div class="container mb-3 flex-column">
		<img class="w-100" src="/img/portada.jpg" alt="portada">
		<div style="font-family: fantasy;">
			<h2 style="background-color: #d8d8d8;">Bienvenido al mejor
				gimnasio de la Univerdad Complutense Madrid (UCM).</h2>
			<p class="text-justify">En caso de ser nuevo, puede unirse a
				nuestra gran familia a través del botón "Registrate!" situado a la
				derecha de nuestra página.</p>

			<h2 style="background-color: #d8d8d8;">UN GIMNASIO PREMIUM CON
				HISTORIA</h2>

			<p class="text-justify">ALMA GYM nace en España en Febrero de
				2020, fundado por el grupo D de la asignatura Ingeniería Web, en la
				Universidad Complutense de Madrid, que, en su deseo de proyectar su
				marca hacia un nivel superior, desarrolló este concepto Premium para
				su implantación en las zonas más representativas de las principales
				ciudades.</p>

			<h2 style="background-color: #d8d8d8;">DESCUBRE EL MÉTODO
				ALMAGYM</h2>



			<p class="text-justify">Tus objetivos son los nuestros y, para
				ayudarte a conseguirlos, nuestro equipo técnico ha desarrollado El
				Método ALMA GYM. Con nuestros suplementos, nuestros ciclos sanos y
				las actividades dirigidas, la combinación con unos hábitos
				saludables, te permitirá alcanzar tus objetivos de una manera
				eficaz.</p>
		</div>


	</div>
	<footer th:replace="fragments/footer.html :: footer"> Footer
		goes here </footer>

</body>

</html>