
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Leeme: AlmaGym</title>
  <style type="text/css">
    .nota { color: gray; }
  </style>
</head>
<body>
  <h1>Aresgym</h1>
  <h2>Objetivo</h2>
  <p>
    La función de esta web consistirá en la administración de las clases de un gimnasio, de tal forma que los profesores puedan reservar una sala para impartir una clase, y que los usuarios puedan apuntarse a esa clase de forma sencilla, además de poder puntuar tanto a los profesores como a sus clases, para ayudar a otros usuarios a decidirse por un profesor u otro. Esta web también ofrecerá información sobre las salas en las cuales se impartirán las clases, e incluso la administración de las diferentes maquinas que se encuentren en cada una de ellas.

<p>

Administrador: este será el encargado de gestionar toda la web, tendrá permisos totales, podrá tanto eliminar, como crear, como modificar, todo tipo de objetos de la web, ya sea usuarios, salas, clases o material, todo de manera sencilla, para poder ser realizado por el dueño del gimnasio. 
 </p>
<p>
Profesor: este usuario solo podrá ser creado por el administrador, y podrá crear nuevas clases, eligiendo la sala donde se impartirá, modificar las que el mismo haya creado, subir fotos de clases anteriores, así como poder ver los alumnos apuntados y poder hablar con ellos.
 </p>
<p>
Alumno: con este rol, se podrá apuntar a las clases, y puntuar a los profesores, cualquiera podría ser alumno simplemente con registrarse y asi podra intercambiar mensajes con los demas usuarios.
 </p>
  </p>
  
  <h2>Vistas</h2>
    <ul>
    <li><a href="http://localhost:8080/inicio.html">Inicio</a> - vista inicial. Contiene informacion general sobre el gimnasio.
    <li><a href="http://localhost:8080/salas.html">Salas</a> - En esta vista se pueden observar las distintas salas del gmnasio, junto a informacion sobre ellas, ademas de permitir administrarlas.
    <li><a href="http://localhost:8080/clases.html/">Clases</a> - Vista con las clases las cuales se van a impartir, los profesores y administrador pueden crearlas, borrarlas o editarlas, mientras que los alumnos pueden apuntarse a ellas.
    <li><a href="http://localhost:8080/cabecera.html/">Cabecera</a> - Esta vista contiene la cabecera de la web, para asi no tener codigo redundante, a la derecha de la misma es posible registrarse o loguearse.
    </ul>
  <h2>Recursos</h2>
    <ul>
    <li><a href="https://getbootstrap.com/"/> Pagina oficial bootstrap </a> 
    <p>
      Usamos bootstrap para mejorar la interfaz de nuestra web, en este caso, en forma de botones, pero mas adelante su potencial nos llevara a usarlo para otras labores.
    </p>

     <li><a href=" https://es.wikipedia.org/wiki/Bootstrap_(framework)"/> Licencia Bootstrap </a> 
     
  </ul>
</body>
</html>