﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/head :: header" />
	<title>Salas</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">Nav goes here</nav>
	<div id="salaIteracion" class="container flex-column">
		<div class="row h2">Salas</div>

		<!-- Iteración de las salas -->
		<div class="iteration" th:each="room: ${rooms}">
			<div th:class="|table${room.id} row sala p-3 rounded-top|"
				style="background-color: #f7f4f4;">
				<div class="col-3 sala-left">
					<div>
						<input class="salaId" type="hidden" th:value="${room.id}" />
					</div>
					<div class="row">
						<div class="mt-0 h3 salaName" th:text="${room.name}">Nada</div>
					</div>
					<div class="row">
						<img class="salaImg"
							style="width: 180px; height: 110px; margin: auto;"
							th:src="@{/salas/{id}/photo(id=${room.id})}">
					</div>
					<div class="row mt-1">
						<p>Capacidad:&nbsp</p>
						<p class="salaCapacidad" th:text="${room.maxSize}">0</p>
					</div>
					<div class="row mt-1">
						<p class="salaDesc" th:text="${room.descrip}">Nada</p>
					</div>
					<table th:if="${session.u.hasRole('ADMIN')}">
						<tr>
							<!-- Botones para los modales -->
							<td class="listActions">
								<button type="button"
									class="btn photoSala btn-info btn-default btn-xs ml-2">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true">&#127924</span>
								</button>
								<button type="button"
									class="btn editSala btn-success btn-default btn-xs ml-2">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true">&#9999</span>
								</button>
								<button type="button" th:if="${#lists.isEmpty(room.lessons)}"
									class="btn removeSala btn-danger deletable btn-default btn-xs ml-2">
									<span class="glyphicon glyphicon-remove" aria-hidden="true">&#10006</span>
								</button>
								<button type="button"
									th:unless="${#lists.isEmpty(room.lessons)}"
									class="btn removeSala btn-danger undeletable btn-default btn-xs ml-2">
									<span class="glyphicon glyphicon-remove" aria-hidden="true">&#10006</span>
								</button>
							</td>
						</tr>
					</table>
				</div>

				<!-- Iteración de los equipos en cada sala -->
				<div class="col-9 sala-right">
					<h5>En esta sala están las siguientes máquinas:</h5>
					<div id="equipoIteracion" class="row ">
						<div th:each="equipment: ${room.equipments}" class="col">
							<div th:class="|table${equipment.id} card p-3|">
								<div>
									<input type="hidden" th:value="${equipment.id}" />
								</div>
								<img class="equipoImg card-img-top"
									style="width: 180px; height: 110px; margin: auto;"
									th:src="@{/equipos/{id}/photo(id=${equipment.id})}">
								<div class="card-body">
									<h5 class="equipoName" th:text="${equipment.name}">Nada</h5>
									<p>Cantidad:&nbsp</p>
									<p class="equipoCantidad" th:text="${equipment.quantity}">0</p>
								</div>
								<table th:if="${session.u.hasRole('ADMIN')}">
									<tr>
										<!-- Botones para los modales Equipo-->
										<td class="equipoListActions">
											<button type="button"
												class="btn photoEquipo btn-info btn-default btn-xs ml-2">
												<span class="glyphicon glyphicon-pencil" aria-hidden="true">&#127924</span>
											</button>
											<button type="button"
												class="btn editEquipo btn-success btn-default btn-xs ml-2">
												<span class="glyphicon glyphicon-pencil" aria-hidden="true">&#9999</span>
											</button>
											<button type="button"
												class="btn removeEquipo btn-danger btn-default btn-xs ml-2">
												<span class="glyphicon glyphicon-remove" aria-hidden="true">&#10006</span>
											</button>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div th:if="${session.u.hasRole('ADMIN')}"
						class="equipolistActions añadir d-flex justify-content-center mb-4">
						<button type="button" class="btn addEquipo btn-primary btn-lg">&#10133
							Añadir Equipo</button>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div th:if="${session.u.hasRole('ADMIN')}"
		class="listActions añadir d-flex justify-content-center mb-4">
		<button type="button" class="btn addSala btn-primary btn-lg">&#10133
			Añadir Sala</button>
	</div>

	<!-- Modal de Cambiar foto -->
	<div id="changePhotoModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal contenido-->
			<div class="modal-content">
				<div class="modal-header bg-info">
					<h4 class="modal-title">Cambiar foto?</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="uploadPhotoForm" class="form-horizontal">
					<h4 id="salaPhotoName" class="col-sm-4 control-label">Name</h4>
					<img class="salaImg form-group"
						style="width: 300px; height: 200px; margin: auto;"
						src="/img/default-sala.jpg" />
					<div>
						<label for="salaPhotoInput" class="col-sm-4 control-label">Upload
							your file:</label> <input id="salaPhotoInput" class="form-control"
							type="file" name="photo" accept="*" />
					</div>

					<div class="modal-footer">
						<button id="photoSalaSbmit" type="button" class="btn btn-info">Actualizar</button>
						<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal de Editar-->
	<div id="editModalSala" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal contenido-->
			<div class="modal-content">
				<div class="modal-header bg-success">
					<h4 class="modal-title">Editar Clase</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<!-- 					<form class="form-horizontal" th:action="@{/salas/edit}" -->
					<!-- 						method="POST"> -->
					<div class="form-group" id="editModalId">
						<input type="hidden" name="id">
					</div>
					<div class="form-group" id="editModalSalaName">
						<label class="col-sm-4 control-label text-success"> Nombre
							de la sala </label>
						<div class="col-sm-8">
							<input name="name" class="form-control"></input>
						</div>
					</div>
					<div class="form-group" id="editModalCapacidad">
						<label class="col-sm-4 control-label text-success">
							Capacidad </label>
						<div class="col-sm-8">
							<input name="maxSize" class="form-control"></input>
						</div>
					</div>
					<div class="form-group" id="editModalDesc">
						<label class="col-sm-4 control-label text-success">
							Descripción </label>
						<div class="col-sm-8">
							<textarea name="descrip" class="form-control"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button id="editSalaSbmit" type="button" class="btn btn-success">Submit</button>
						<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal de Eliminar -->
	<div id="removeModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal contenido-->
			<div class="modal-content">
				<div class="modal-header bg-danger">
					<h4 class="modal-title">Acción invalida</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<p>No se puede borrar! Hay clases en esta sala!</p>
				</div>
				<div class="modal-footer">
					<button type="button" id="removeSalaSbmit" class="btn btn-danger"
						style="display: block;">Eliminar</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal de Añadir -->
	<div id="addModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal contenido-->
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h4 class="modal-title">Añadir Sala</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group" id="addModalName">
						<label class="col-sm-4 control-label text-primary"> Nombre
							de la sala </label>
						<div class="col-sm-8">
							<input name="name" class="form-control"></input>
						</div>
					</div>
					<div class="form-group" id="addModalCapacidad">
						<label class="col-sm-4 control-label text-primary">
							Capacidad </label>
						<div class="col-sm-8">
							<input name="maxSize" class="form-control"></input>
						</div>
					</div>
					<div class="form-group" id="addModalDesc">
						<label class="col-sm-4 control-label text-primary">
							Descripción </label>
						<div class="col-sm-8">
							<textarea name="descrip" class="form-control"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button id="addSalaSbmit" type="submit" class="btn btn-primary">Submit</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxxx -->

	<!-- Modal de Eliminar Equipo-->
	<div id="removeModalEquipo" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal contenido-->
			<div class="modal-content">
				<div class="modal-header bg-danger">
					<h4 class="modal-title">¿Estas seguro?</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<p>¿Estas seguro?</p>
				</div>
				<div class="modal-footer">
					<button type="submit" id="removeEquipoSbmit"
						class="btn  btn-danger">Eliminar</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxxx -->

	<!-- Modal de Editar Equipo-->
	<div id="editModalEquipo" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal contenido-->
			<div class="modal-content">
				<div class="modal-header bg-success">
					<h4 class="modal-title">Editar Equipo</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group" id="editEquipoModalRoom">
						<input type="hidden" name="roomId">
					</div>
					<div class="form-group" id="editEquipoModalName">
						<label class="col-sm-4 control-label text-success"> Nombre
							de la sala </label>
						<div class="col-sm-8">
							<input name="name" class="form-control"></input>
						</div>
					</div>
					<div class="form-group" id="editEquipoModalCantidad">
						<label class="col-sm-4 control-label text-success">
							Cantidad </label>
						<div class="col-sm-8">
							<input name="quantity" class="form-control"></input>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" id="editEquipoSbmit" class="btn btn-success">Submit</button>
						<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal de Añadir Equipo-->
	<div id="addModalEquipo" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal contenido-->
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h4 class="modal-title">Añadir Equipo</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group" id="addEquipoModalRoom">
						<input type="hidden" name="roomId">
					</div>
					<div class="form-group" id="addEquipoModalName">
						<label class="col-sm-4 control-label text-primary"> Nombre
							del equipo </label>
						<div class="col-sm-8">
							<input name="name" class="form-control"></input>
						</div>
					</div>
					<div class="form-group" id="addEquipoModalCantidad">
						<label class="col-sm-4 control-label text-primary">
							Cantidad </label>
						<div class="col-sm-8">
							<input name="quantity" class="form-control"></input>
						</div>
					</div>
					<div class="modal-footer">
						<button id="addEquipoSbmit" type="submit" class="btn btn-primary">Submit</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal de Cambiar foto Equipo-->
	<div id="changePhotoModalEquipo" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal contenido-->
			<div class="modal-content">
				<div class="modal-header bg-info">
					<h4 class="modal-title">Cambiar foto del equipo?</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="uploadPhotoFormEquipo" class="form-horizontal">
					<h4 id="equipoPhotoName" class="col-sm-4 control-label">Name</h4>
					<img class="equipoImg form-group"
						style="width: 300px; height: 200px; margin: auto;"
						src="/img/default-sala.jpg" />
					<div>
						<label for="equipoPhotoInput" class="col-sm-4 control-label">Upload
							your file:</label> <input id="equipoPhotoInput" class="form-control"
							type="file" name="photo" accept="*" />
					</div>
					<div class="modal-footer">
						<button id="photoEquipoSbmit" type="submit" class="btn btn-default">Actualizar</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- Fin del contenedor -->
	<footer th:replace="fragments/footer.html :: footer"> Footer
		goes here </footer>
</body>
</html>