﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:replace="fragments/head :: header" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<!-- <link rel="stylesheet" type="text/css" href="./info/estilo.css"> -->
<!-- <link rel="stylesheet" -->
<!-- 	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<!-- 	<link rel="stylesheet" th:href="@{/css/main3.css}" href="css/main3.css" -->
<!-- 		type="text/css" /> -->
<!-- <link rel="stylesheet" -->
<!-- 	href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" /> -->
<!-- <link rel="stylesheet" -->
<!-- 	href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css" -->
<!-- 	type="text/css" /> -->
<!-- <link rel="stylesheet" -->
<!-- 	href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.bootstrap.min.css" -->
<!-- 	type="text/css" /> -->


<title>Salas</title>
<script>
	$(document).ready(
			function() {
				$(".listActions>.btn-success").click(
						function() {
							$("#editModalName input").val($(
											$(this).parent().parent().parent()
													.parent().parent()
													.children().eq(1)
													.children()).text());
							$("#editModalDesc textarea").val($(
											$(this).parent().parent().parent()
													.parent().parent()
													.children().eq(4)
													.children()).text());
							$("#editModalCapacidad input").val($(
											$(this).parent().parent().parent()
													.parent().parent()
													.children().eq(3)
													.children().eq(1)).text());

							$("#editModalId input").val($($(this).parent().parent().parent()
													.parent().parent()
													.children().eq(0)
													.children()).val());

							$("#editModal").modal("toggle");
						});
				$(".listActions>.btn-danger").click(function() {
					
					$("#removeModalId input").val($($(this).parent().parent().parent()
							.parent().parent()
							.children().eq(0)
							.children()).val());
					$("#removeModal").modal("toggle");
				});
				$(".listActions>.btn-primary").click(function() {
				
					$("#addModal").modal("toggle");
				});
			});
</script>
</head>

<body class="d-flex flex-column h-100">
	<nav th:replace="fragments/nav.html :: nav">Nav goes here</nav>
	<main role="main" class="flex-shrink-0">
		<div class="container flex-column">
			<div class="row h2">Salas</div>
			<div class="iteration" th:each="room: ${rooms}">
				<div class="row sala p-3 rounded-top"
					style="background-color: #f7f4f4;">
					<div class="col-3 sala-left">
						<div>
							<input type="hidden" name="roomId" id="roomId" th:value="${room.id}"></input>
						</div>
						<div class="row">
							<div class="mt-0 h3 salaName" th:text="${room.name}">Nada</div>
						</div>
						<div class="row">
							<img class="sala-img"
								style="width: 180px; height: 110px; margin: auto;"
								th:src="@{${room.imgPath}}">
						</div>
						<div class="row mt-1">
							<p>Capacidad:&nbsp</p>
							<p class="sala-plazos" th:text="${room.maxSize}">0</p>
						</div>
						<div class="row mt-1">
							<p class="sala-desc" th:text="${room.descrip}">Nada</p>
						</div>
						<table>
							<tr>
								<td class="listActions">
									<button type="button"
										class="btn btn-success btn-default btn-xs ml-2">
										<span class="glyphicon glyphicon-pencil" aria-hidden="true">Editar</span>
									</button>
									<button type="button"
										class="btn btn-danger btn-default btn-xs ml-2">
										<span class="glyphicon glyphicon-remove" aria-hidden="true">Eliminar</span>
									</button>
								</td>
							</tr>
						</table>
					</div>
					<div class="col-9 sala-right">
						<h5>En esta sala están las siguientes máquinas:</h5>
						<div class="row ">
							<div th:each="equipment: ${equipments}"
								th:if="${equipment.room.id == room.id}" class="col">
								<div class="card p-3">
									<img class="card-img-top"
										style="width: 180px; height: 110px; margin: auto;"
										th:src="@{${equipment.imgPath}}">
									<div class="card-body">
										<h5 th:text="${equipment.name}">Nada</h5>
										<p th:text="|Cantidad: ${equipment.quantity}|">0</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal -->
				<div id="editModal" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header bg-success">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Editar Clase</h4>
							</div>
							<div class="modal-body">
								<form class="form-horizontal"
									th:action="@{/salas/edit}" method="POST">
									<div class="form-group" id="editModalId">
										<input type="hidden" name="id">
									</div>
									<div class="form-group" id="editModalName">
										<label class="col-sm-4 control-label text-success">
											Nombre de la sala </label>
										<div class="col-sm-8">
											<input name="name" class="form-control"></input>
										</div>
									</div>
									<div class="form-group" id="editModalCapacidad">
										<label class="col-sm-4 control-label text-success">
											Capacidad </label>
										<div class="col-sm-8">
											<input name="maxSize" class="form-control"></input>
										</div>
									</div>
									<div class="form-group" id="editModalDesc">
										<label class="col-sm-4 control-label text-success">
											Descripción </label>
										<div class="col-sm-8">
											<textarea name="descrip" class="form-control"></textarea>
										</div>
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-default">Submit</button>
										<button type="button" class="btn btn-default"
											data-dismiss="modal">Close</button>
									</div>
								</form>
							</div>

						</div>
					</div>
				</div>
				<div id="removeModal" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header bg-danger">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Estas seguro?</h4>
							</div>
							<div class="modal-body">
								<p>¿Estás seguro?</p>
							</div>
							<div class="modal-footer">
								<form th:action="@{/salas/del}" method="POST">
									<div class="form-group" id="removeModalId">
										<input type="hidden" name="id">
									</div>
									<button type="submit" class="btn btn-default">Eliminar</button>
								</form>
								<!-- 									<button class="btn btn-default"	data-dismiss="modal"  -->
								<!-- 									th:onclick="window.location.href= 'del/{id}(id=${room.id})'">Eliminar</button>								 -->
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Close</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="listActions añadir d-flex justify-content-center mb-4">
			<button type="button" class="btn btn-primary btn-lg">Añadir Sala</button>
		</div>
		<div id="addModal" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header bg-primary">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Añadir Clase</h4>
							</div>
							<div class="modal-body">
								<form class="form-horizontal"
									th:action="@{/salas/add}" method="POST">
									<div class="form-group" id="addModalName">
										<label class="col-sm-4 control-label text-primary">
											Nombre de la sala </label>
										<div class="col-sm-8">
											<input name="name" class="form-control"></input>
										</div>
									</div>
									<div class="form-group" id="addModalCapacidad">
										<label class="col-sm-4 control-label text-primary">
											Capacidad </label>
										<div class="col-sm-8">
											<input name="maxSize" class="form-control"></input>
										</div>
									</div>
									<div class="form-group" id="addModalDesc">
										<label class="col-sm-4 control-label text-primary">
											Descripción </label>
										<div class="col-sm-8">
											<textarea name="descrip" class="form-control"></textarea>
										</div>
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-default">Submit</button>
										<button type="button" class="btn btn-default"
											data-dismiss="modal">Close</button>
									</div>
								</form>
							</div>

						</div>
					</div>
				</div>
		<!-- Fin del contenedor -->
	</main>
	<footer th:replace="fragments/footer.html :: footer"> Footer
		goes here </footer>
</body>
</html>