<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:replace="fragments/head :: header" />
<title>Perfil</title>
</head>
<script>
$(document).ready(
		function() {
			$("#changePhotoBtn").click(function() {
				$("#inputPhoto").click();
			});
			
			$("#inputPhoto").on("change", function previewFile() {
				const preview = $(this).parent().parent().parent().children().eq(0);
				const file = document.getElementById('inputPhoto').files[0];
				const reader = new FileReader();
				reader.addEventListener("load", 
					function () {
						preview.attr("src", reader.result);
				    	preview.show();
					}, false);
				if (file) {
					reader.readAsDataURL(file);
				}
			});
		});
</script>
<body>
	<nav th:replace="fragments/nav.html :: nav">Nav goes here</nav>

	<div class="container">
		<div class="main">
			<h1 th:text="#{index.info}"></h1>

			<h4>
				Información del usuario <span th:text="${user.username}"></span>
			</h4>

			<div id="userPrivate">
				<!-- puedes cambiar todo -->
				<div id="userPhoto">
					<img th:src="@{/user/{id}/photo(id=${user.id})}" width="50%" height="50%">
						<div th:if="(${session.u.id} eq ${user.id}) or ${session.u.hasRole('ADMIN')}">
							<form th:action="@{/user/{id}/photo(id=${user.id})}" method="POST"
							enctype="multipart/form-data">
							<input type="file" name="photo" id="inputPhoto" style="display:none"/>
							<p>
								<button type="button" id="changePhotoBtn">Cambiar foto</button>
								<button type="submit">Actualizar</button>
							</p>
							</form>
						</div>
				</div>
				<div id="userDetails">
					<div th:if="(${session.u.id} eq ${user.id}) or ${session.u.hasRole('ADMIN')}">
						<form id="usermod" class="smallform"
						th:action="@{/user/{id}(id=${user.id})}" method="POST">
	
						<label for="firstname">Nombre</label>
						<input name="firstName" id="firstName" required
						 	placeholder="Nombre" th:value="${user.firstName}" /> 
						<label for="lastname">Apellidos</label>
						<input name="lastName" id="lastname" required
							placeholder="Apellidos" th:value="${user.lastName}" />
						<label for="username">Usuario</label> 
						<input name="username" id="username" required placeholder="username"
							th:value="${user.username}" />
						<label for="password">Contraseña</label>
						<input type="password" id="password" required name="password"
							placeholder="Contraseña" />
						<label for="pass2">(repetida)</label>
						<input type="password" id="pass2" required name="pass2"
							placeholder="Confirmación" />
						<div th:if="${session.u.hasRole('ADMIN')}">
							<label for="password">Roles</label>
							<input id="roles" name="roles" required placeholder="Roles"
								th:value="${user.roles}" />
						</div>
						<div th:unless="${session.u.hasRole('ADMIN')}">
							<label for="password">Roles</label>
							<p id="roles" th:value="${user.roles}"></p>
						</div>
						</br>
						<button type="submit">Aceptar</button>
						</br>
						</form>
						<p><a th:if="${session.u.hasRole('ADMIN')}" th:href="@{/usuarios/}"
					class="btn btn-danger btn-xs">Atras</a></p>
					</div>
					<div  th:unless="(${session.u.id} eq ${user.id}) or ${session.u.hasRole('ADMIN')}">
						<label for="firstname"><b>Nombre:</b></label>
						<p id="firstName" th:text="${user.firstName}"></p>
						<label for="lastname"><b>Apellidos:</b></label>
						<p id="lastname" th:text="${user.lastName}"></p>
						<label for="username"><b>Usuario:</b></label> 
						<p id="username" th:text="${user.username}"></p>
						<label for="password"><b>Roles:</b></label>
						<p id="roles" th:text="${user.roles}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="fragments/footer.html :: footer"> Footer
		goes here </footer>
</body>
</html>
