<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:replace="fragments/head :: header" />
<title>Usuarios</title>
<link rel="stylesheet" th:href="@{/css/admin.css}" href="css/admin.css"
	type="text/css" />
<script>
        $(document).ready(function(){
            $(".listActions>.btn-info").click(function() {
                $("#infoModalName p").text($($(this).parent().parent().children()[1]).text());
                $("#infoModalSurname p").text($($(this).parent().parent().children()[2]).text());
                $("#infoModalUser p").text($($(this).parent().parent().children()[3]).text());
                $("#infoModalRoles p").text($($(this).parent().parent().children()[4]).text());
 
                $("#infoModal").modal("toggle");
            });
        
            $(".listActions>.btn-warning").click(function() {
                $("#valorarModal").modal("toggle"); 
            });
            
            $(".listActions>.btn-primary").click(function() {
                $("#addModal").modal("toggle");
            });
            
            $(".listActions>.btn-danger").click(function() {
                $("#removeModal").modal("toggle");
                $("#yesRemove").val($(this).parent().parent().children().first().text());
            })
            
            $("#addModalBtn").click(function() {
            	 $("#addClassModal").modal("toggle");
            });
            
            $("#yesRemove").click((e) => {   
				  console.log(e.source);
				  var id = $("#yesRemove").val();
      		      $.ajax({
					   headers: {"X-CSRF-TOKEN": config.csrf.value},
	      		       type : "POST",
	      		       url : config.rootUrl + "user/delete/" + id,
	      		       success: data => { 
	      		    	 $("tr>td.d-none:contains('"+id+"')").parent().hide();
	      		    	 $("#removeModal").modal("toggle");
	      		       },
	      		       error: e => console.log(e)
      		      });
            });
        });
</script>
</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">Nav goes here</nav>
	<div class="container flex-column">
		<div class="row h2">Usuarios (👤)</div>
		<div class="row justify-content-center mb-3">
			<h1 th:text="#{admin.welcome}">Bienvenido ADMIN (SOLO PARA
				ADMIN's)</h1>

			<table id="adminTable"
				class="table table-striped table-bordered text-center"
				cellspacing="0" width="100%">
				<thead>
					<tr>
						<th class="th-sm text-center">Nombre de Usuario</th>
						<th class="th-sm text-center">&#x1f513; &#x2b64; &#x1f512;</th>
						<th class="th-sm text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="u: ${users}">
						<td class="d-none" th:text="${u.id}">idU</td>
						<td class="d-none" th:text="${u.firstName}">nameU</td>
						<td class="d-none" th:text="${u.lastName}">surnameU</td>
						<td class="d-none" th:text="${u.username}">U</td>
						<td class="d-none" th:text="${u.roles}">rolsU</td>
						<td th:text="${u.username}" /></td>
						<td>
							<form method="post" th:action="@{/admin/toggleuser(id=${u.id})}"
								&&  th:unless="${u.getId()==1}">
								<button
									th:text="${u.enabled eq 1 ? '🔓 → 🔒' : '🔒 → 🔓'}"
									type="submit">🗑</button>
							</form>
						</td>
						<td class="listActions text-center">
							<button type="button" class="btn btn-info btn-default btn-xs"
								style="min-width: 50px;">
								<span class="glyphicon glyphicon-info-sign" aria-hidden="true">&#10069</span>
							</button> <a class="btn btn-success btn-xs ml-2"
							th:href=@{/user/{id}(id=${u.id})} th:text="'&#x270e;'" /></a>
							<button type="button"
								class="btn btn-warning btn-default btn-xs ml-2 d-none">
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
							</button>
							<button type="button"
								class="btn btn-danger btn-default btn-xs ml-2"
								style="min-width: 50px;">
								<span class="glyphicon glyphicon-remove" aria-hidden="true">&#10006</span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div>
				<p>
					<a th:href="@{/user/adduser}" class="btn btn-success btn-xs">Crear
						Usuario</a>
				</p>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div id="infoModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header bg-info d-flex flex-row-reverse">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Información Clase</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group" id="infoModalName">
							<label class="col-12 control-label text-info">Nombre: </label>
							<div class="col-sm-6">
								<p class="form-control-static"></p>
							</div>
						</div>
						<div class="form-group" id="infoModalSurname">
							<label class="col-6 control-label text-info">Apellidos: </label>
							<div class="col-sm-6">
								<p class="form-control-static"></p>
							</div>
						</div>
						<div class="form-group" id="infoModalUser">
							<label class="col-12 control-label text-info">Usuario: </label>
							<div class="col-sm-6">
								<p class="form-control-static"></p>
							</div>
						</div>
						<div class="form-group" id="infoModalRoles">
							<label class="col-12 control-label text-info">Roles: </label>
							<div class="col-sm-6">
								<p class="form-control-static"></p>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal de Eliminar -->
	<div id="removeModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header bg-danger d-flex flex-row-reverse">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Estas seguro?</h4>
				</div>
				<div class="modal-body">
					<p>¿Estás seguro que quieres eliminarlo?</p>
				</div>
				<div
					class="modal-footer text-center d-flex justify-content-center">
					<button id="yesRemove" type="button"
						class="btn btn-danger btn-lg">Si</button>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer.html :: footer"> Footer
		goes here </footer>
</body>
</html>
